html,
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #17436e 50%, rgb(161, 47, 47) 50%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ddd;
}

#root {
  margin: 10px;
  width: auto;
  height: 100%;
}

.wrapper {
  font-size: 1.5rem;
  display: flex;
  margin-top: 20%; // 20% is fit for mobile, But doesn't fit in WEB
  flex-direction: column;
  text-align: center;
  align-items: center;

  & > .wrapper-itemList {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 50px;

    & > .wrapper--item {
      margin: 10px;

      & label {
        margin-right: 5px;
      }

      & select {
        border-radius: 5px;
        width: 70px;
        height: 30px; /* 원하는 높이로 조정 */
      }
    }
  }
}

.Korean-age-wrapper {
  display: flex;
  text-align: start;
  color: #ddd;

  & .age--items {
    & div {
      & span {
        font-size: 2rem;
      }

      & p {
        color: #eee;
        margin-top: 2px;
        font-size: 1rem;
      }
    }
  }
}

.Zodiac-Sign {
  color: #ddd;
  & span {
    color: #eee;
    font-size: 2rem;
  }
}
